<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">

		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<main>
			<section class="liat"></section>
			<section class="tombol">
				<ul>
					<li class="tekan" id="tujuh">7</li>
					<li class="tekan" id="delapan">8</li>
					<li class="tekan" id="sembilan">9</li>
					<li class="tekan operator" id="bagi">/</li>
					<li class="tekan" id="empat">4</li>
					<li class="tekan" id="lima">5</li>
					<li class="tekan" id="enam">6</li>
					<li class="tekan operator" id="kali">*</li>
					<li class="tekan" id="satu">1</li>
					<li class="tekan" id="dua">2</li>
					<li class="tekan" id="tiga">3</li>
					<li class="tekan operator" id="tambah">+</li>
					<li class="tekan" id="nol">0</li>
					<li class="tekan" id="titik">.</li>
					<li class="tekan hasil" id="equal">=</li>
					<li class="tekan operator" id="kurang">-</li>
				</ul>
			</section>
		</main>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
